@import "./variables.css";

@font-face {
  font-family: "Gilroy-Black";
  src: url("../fonts/gilroy-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.templateSlider .swiper {
  overflow: visible;
}

.templateSlider .swiper-button-prev {
  position: absolute;
  top: -120px;
  right: 80px;
  width: 64px;
  height: 64px;
  background-color: var(--color-main);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.templateSlider .swiper-button-prev::before {
  content: "";
  background-image: url("../images/landing/sliderArrow.svg");
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1);
}

.templateSlider .swiper-button-next {
  position: absolute;
  top: -120px;
  right: 0;
  width: 64px;
  height: 64px;
  background-color: var(--color-main);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.templateSlider .swiper-button-next::before {
  content: "";
  background-image: url("../images/landing/sliderArrow.svg");
  transform: rotate(180deg);
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1);
}

.templateSlider .swiper-button-disabled {
  border: 1.23px solid #d4d2e3;
  background-color: transparent;
}

.templateSlider .swiper-button-disabled {
  color: black !important;
  filter: brightness(0);
}

.templateSlider .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
  bottom: -50px;
}

.templateSlider .swiper-pagination-bullet-active {
  background: var(--color-main);
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 !important;
  }
}



