@import "./variables.css";

@font-face {
  font-family: "Gilroy-Black";
  src: url("../fonts/gilroy-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
